// Required
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// Your variable overrides
@import "./variables.scss";

// Bootstrap and its default variables

// Optional
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/modal";

// etc

@import "./utils.scss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font;
  font-weight: 300;
  overflow-x: hidden;
  &.modal--show {
    overflow: hidden;
  }
}

.section {
  background: map-get($colors, 'background');
  padding: 60px 0;
}

.title {
  @include titleStyle;
}

.text {
  @include textStyle;
}

@import './MyHeader.scss';
@import './AboutMe.scss';
@import './Tools.scss';
@import './WorkExperience.scss';
@import './TimelineItem.scss';
@import './MyFooter.scss';