.footer {
  padding: 30px 15px;
  background: #000;
  p {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    margin: 0;
    @include media-breakpoint-down(sm) {
      font-size: 14px;
    }
  }
}