.circle {
  position: absolute;
  border-radius: 50%;
  animation: fadeUp 1s ease-in-out forwards;
  opacity: 0;
  z-index: -1;

  &--grey {
    width: 250px;
    height: 250px;
    background-color: map-get($map: $colors, $key: "grey");
    top: 10%;
    left: 50%;
  }

  &--skyblue {
    width: 350px;
    height: 350px;
    background-color: map-get($map: $colors, $key: "skyblue");
    top: 20%;
    left: 20%;
    animation-delay: 0.5s;
  }

  &--orange {
    width: 450px;
    height: 450px;
    background-color: map-get($map: $colors, $key: "orange");
    top: 40%;
    left: 60%;
    animation-delay: 1s;
  }

  @include media-breakpoint-down(sm) {
    &--grey {
      width: 75px;
      height: 75px;
    }

    &--skyblue {
      width: 125px;
      height: 125px;
      left: 10%;
    }

    &--orange {
      width: 175px;
      height: 175px;
      left: 40%;
    }
  }
}

$size-square: 300px;

.dots-square {
  position: absolute;
  transition: all 0.1s;
  animation: fadeUp 1s ease-in-out forwards;
  opacity: 0;

  &__image {
    height: $size-square;
    width: $size-square;
  }

  &--left {
    bottom: 0;
    left: ($size-square/2);
  }

  &--right {
    top: -($size-square/2);
    right: ($size-square/2);
  }

  &--left & {
    &__image {
      transform: rotate(45deg);
    }
  }

  @include media-breakpoint-down(md) {
    $size-square: 250px;

    &__image {
      height: $size-square;
      width: $size-square;
    }

    &--left {
      bottom: 0;
      left: -($size-square/2);
    }

    &--right {
      top: -($size-square/3);
      right: -($size-square/3);
    }
  }
  @include media-breakpoint-down(sm) {
    $size-square: 200px;

    &__image {
      height: $size-square;
      width: $size-square;
    }

    &--left {
      bottom: 0;
      left: -($size-square/2);
    }

    &--right {
      top: -($size-square/3);
      right: -($size-square/3);
    }
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(60px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveSides {
  from {
    transform: translate(-10px, 10px);
  }

  to {
    transform: translate(10px, -10px);
  }
}

.header {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1920px;
  max-height: 1080px;
  margin: 0 auto;

  &__content {
    text-align: center;
    overflow: hidden;
    width: 100%;
  }
  &__name {
    font-size: 100px;
    font-weight: 500;
    margin: 0;
    line-height: 1;

    @include media-breakpoint-down(sm) {
      font-size: 50px;
    }
  }
  &__tagline {
    font-size: 24px;
    font-weight: 500;
    margin: 0;

    @include media-breakpoint-down(sm) {
      font-size: 18px;
    }
  }
}

.header-divider {
  position: relative;
  z-index: -1;
  &__gradient {
    position: absolute;
    top: -200px;
    left: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(to bottom, transparent 0%, map-get($colors, "background") 100%);
  }
}
