$timeline-shapes: map-get($map: $colors, $key: 'orange');
$timeline-text: darken(map-get($map: $colors, $key: 'grey'), 30%);

.timeline__item {
  padding-top: 20px;
  margin-bottom: 40px;

  @include media-breakpoint-down(sm) {
    padding-top: 10px;
    margin-bottom: 40px;
  }

  &__content {
    position: relative;
    border: 2px solid $timeline-shapes;
    padding: 20px;
    border-radius: 0 0 8px 8px;
    background: #fff;

    @include media-breakpoint-down(sm) {
      padding: 10px;
      margin-left: 13px;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      height: 8px;
      width: 8px;
      border-radius: 50%;
      background-color: $timeline-shapes;
      top: -4px;
      left: -4px;

      @include media-breakpoint-down(sm) {
        left: auto;
        right: -4px;
      }
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      height: 2px;
      width: 20px;
      background-color: $timeline-shapes;
      top: -8px;
      right: -18px;
      transform: rotate(-45deg);

      @include media-breakpoint-down(sm) {
        right: auto;
        left: -18px;
        transform: rotate(45deg);
      }
    }
  }

  &__circle {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 4px solid $timeline-shapes;
    border-radius: 50%;
    right: -27px;
    top: -26px;
    z-index: 1;

    @include media-breakpoint-down(sm) {
      right: auto;
      left: -24px;
    }
  }

  &__date {
    position: absolute;
    top: -28px;
    right: 0;
    font-size: 16px;
    font-weight: 600;
    color: $timeline-text;

    @include media-breakpoint-down(sm) {
      font-size: 14px;
      left: 0;
      right: auto;
      top: -25px;
    }
  }

  &__company {
    font-size: 13px;
    font-weight: 600;
    color: $timeline-text;
    margin-top: 2px;
    margin-bottom: 0;

    @include media-breakpoint-down(sm) {
      font-size: 12px;
    }
  }
  
  &__title {
    font-size: 18px;
    font-weight: 600;
    padding-right: 30px;
    margin-bottom: 0;
    @include media-breakpoint-down(sm) {
      font-size: 16px;
      padding-right: 30px;
    }
  }

  &__description {
    font-size: 14px;
    margin: 0;
    font-weight: 300;
    margin-top: 10px;
    @include media-breakpoint-down(sm) {
      font-size: 13px;
    }
  }

  &__images {
    position: absolute;
    display: inline-block;
    top: 2px;
    right: 2px;
    height: 35px;
    width: auto;
    border: none;
    background: none;

    img {
      height: 100%;
      display: block;
      margin: 0 auto;
      transition: all 0.5s;
    }

    &:hover img {
      opacity: 0.6;
    }

    @include media-breakpoint-down(sm) {
      height: 30px;
    }
  }

  @include media-breakpoint-up(md) {
    &--right & {
      &__content {
        &::before {
          left: auto;
          right: -4px;
        }

        &::after {
          right: auto;
          left: -18px;
          transform: rotate(45deg);
        }
      }

      &__circle {
        right: auto;
        left: -27px;
      }

      &__date {
        right: auto;
        left: 0;
      }

      &__stack {
        align-items: flex-end;
        &__list__item {
          margin: 0 0 10px 10px;
        }
      }
    }
  }

  &__stack {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;

    @include media-breakpoint-down(sm) {
      margin-top: 10px;
      height: auto;
      padding: 0 0 0 15px;
    }

    &__title {
      font-size: 14px;
      font-weight: 600;

      @include media-breakpoint-down(sm) {
        margin-bottom: 0;
      }
    }

    &__list {
      padding: 0;
      margin: 0;
      list-style: none;
      &__item {
        display: inline-block;
        margin: 0 10px 10px 0;
        height: 50px;

        @include media-breakpoint-down(sm) {
          height: 40px;
          margin: 0 5px 5px 0;
        }

        img {
          display: block;
          height: 100%;
          width: auto;
          margin: 0 auto;
        }
      }
    }
  }
}
