.tools {
  &__list {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
    text-align: center;

    &:last-child {
      margin: 0;
    }

    &__item {
      display: inline-flex;
      height: 100px;
      width: 100px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 15px 20px 0;

      @include media-breakpoint-down(sm) {
        margin: 0 10px 15px 0;
        height: 80px;
        width: 80px;
      }
      &__image {
        height: 60px;
        width: auto;

        @include media-breakpoint-down(sm) {
          height: 40px;
        }
      }

      &__name {
        margin: 0;
        font-size: 14px;
        font-weight: 300;

        @include media-breakpoint-down(sm) {
          font-size: 13px;
        }
      }
    }
  }
}