@mixin titleStyle () {
  font-size: 32px;
  font-weight: 600;
  line-height: 1;
  margin: 0 0 20px 0;
  text-align: center;
  @include media-breakpoint-down(sm) {
    font-size: 24px;
    margin-bottom: 15px;
  }
}

@mixin textStyle () {
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 20px;

  @include media-breakpoint-down(sm) {
    font-size: 14px;
    margin-bottom: 15px;
  }
}