.timeline {
  position: relative;
  margin-top: 40px;
  padding-top: 20px;

  &__line {
    position: absolute;
    height: calc(100% + 40px);
    width: 2px;
    background-color: map-get($colors, "light-grey");
    left: 50%;
    transform: translateX(-50%);
    top: -20px;

    @include media-breakpoint-down(sm) {
      left: 0;
      transform: none;
    }
  }
}

.modal-work-experience {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  overflow-y: auto;
  background: rgba($color: #000000, $alpha: 0.7);
  z-index: 100;
  transition: all 0.5s;
  opacity: 0;
  display: none;
  transition: all 0.5s, opacity 2s;

  &--show {
    display: block;
    animation: fade 0.3s linear forwards;
  }

  &--hide {
    animation: fadeOut 0.3s linear forwards;
  }

  &__close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
  }

  &__content {
    margin: 60px 0;
    background: #fff;
    padding: 20px 15px 0px 15px;
    animation: translateUp 1s 0.5s ease forwards;
    border-radius: 4px;
    box-shadow: 0 8px 30px rgba($color: #000000, $alpha: 0.3);
    opacity: 0;
  }

  &__image {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    box-shadow: 0 0px 30px rgba($color: #000000, $alpha: 0.15);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes translateUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
