<template>
  <section class="section">
    <div class="container">
      <h2 class="title">Sobre mí</h2>
      <div class="about-me__content">
        <p class="text text-center">
          Hola 😀 soy Dante Alvarez, Ing. de Sistemas con más de +4 años de experiencia en el desarrollo de
          aplicaciones web.
        </p>
        <p class="text text-center">
          Realicé proyectos que van desde sitios web estáticos hasta
          aplicaciones a medida para personas, empresas, startups, instituciones
          gubernamentales, APIs y Web Scraping. He trabajado como desarrollador
          en las áreas de Front-end y Back-end.
        </p>
        <p class="text text-center">
          Me gusta aprender nuevas tendencias, tecnologías y lenguajes y ayudar
          a los demás porque es la mejor manera de reforzar conocimientos y
          volver a aprender.
        </p>
      </div>
    </div>
  </section>
</template>
