<template>
	<div class="modal-work-experience" ref="modal" @click="onClickModal">
		<button class="modal-work-experience__close" @click="onHide">
			<i class="fa fa-fw fa-times"></i>
		</button>
		<div class="container">
			<div class="modal-work-experience__content" ref="modal__content">
				<div v-if="experience" class="row">
					<div v-for="(item, index) in landscapes" :key="index" class="col-12">
						<img
							class="modal-work-experience__image"
							:src="item.image"
							alt=""
						/>
					</div>
					<div  v-for="(item, index) in portraits" :key="index + 'portrait'" class="col-12 col-md-3">
						<img
							class="modal-work-experience__image"
							:src="item.image"
							alt=""
						/>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	props: {
		show: {
			type: Boolean,
			default: false,
		},
		experience: Object,
	},
	data() {
		return {
			containers: {
				modalClass: "modal-work-experience",
			},
		};
	},
	computed: {
		landscapes() {
			if (!this.experience.gallery) return [];

			return this.experience.gallery.filter((item) => {
				return !item.portrait;
			});
		},
		portraits() {
			if (!this.experience.gallery) return [];

			return this.experience.gallery.filter((item) => {
				return item.portrait && item.portrait === true;
			});
		},
	},
	watch: {
		show(newVal) {
			if (newVal) this.onShow();
			else this.onHide();
		},
	},
	mounted() {
		if (this.show) {
			this.onShow();
		}
	},
	methods: {
		onShow() {
			this.$refs.modal.removeEventListener("animationend", this.onAnimationEnd);
			this.$refs.modal.className = this.containers.modalClass;
			this.$refs.modal.classList.add(`${this.containers.modalClass}--show`);
			document.querySelector("body").classList.add("modal--show");
		},
		onHide() {
			this.$refs.modal.addEventListener("animationend", this.onAnimationEnd);
			this.$refs.modal.classList.add(`${this.containers.modalClass}--hide`);
		},
		onAnimationEnd() {
			document.querySelector("body").classList.remove("modal--show");
			this.$refs.modal.className = this.containers.modalClass;
			this.$emit("close");
		},
		onClickModal (event) {
			const vm = this;
			const target = event.target || event.srcElement || event.currentTarget;
			if (!vm.$refs.modal__content.contains(target)){
				vm.onHide();
			}
		}
	},
};
</script>