<template>
	<header class="header">
		<div class="header__divider"></div>
		<div class="header__content">
			<span class="circle circle--orange"></span>
			<span class="circle circle--skyblue" id="circle"></span>
			<span class="circle circle--grey"></span>
			<div class="dots-square dots-square--left">
				<img class="dots-square__image" src="/images/dots-square.png" alt="" />
			</div>
			<div class="dots-square dots-square--right">
				<img class="dots-square__image" src="/images/dots-square.png" alt="" />
			</div>
			<h1 class="header__name">Dante Alvarez</h1>
			<p class="header__tagline">Desarrollador Web</p>
		</div>
	</header>
</template>
