<template>
	<div
		class="row timeline__item"
		:class="{
			'timeline__item--right': right,
		}"
	>
		<div
			class="col-12 col-md-6"
			:class="{
				'order-md-1': right,
			}"
		>
			<div class="timeline__item__content">
				<span class="timeline__item__circle"></span>
				<p class="timeline__item__date">
					{{ experience.date }}
				</p>
				<button
					class="timeline__item__images"
					@click="$emit('show-gallery', experience)"
				>
					<img
						v-if="experience.gallery"
						src="/images/icons/images.png"
						alt=""
					/>
				</button>
				<h3 class="timeline__item__title">
					{{ experience.title }}
				</h3>
				<h4 v-if="experience.company" class="timeline__item__company">
					{{ experience.company }}
				</h4>
				<p class="timeline__item__description">
					{{ experience.description }}
				</p>
			</div>
		</div>
		<div class="col-12 col-md-6">
			<div class="timeline__item__stack">
				<h3 class="timeline__item__stack__title">Stack</h3>
				<ul class="timeline__item__stack__list">
					<li
						v-for="item in experience.stack"
						:key="item"
						class="timeline__item__stack__list__item"
					>
						<img :src="`/images/icons/${item}.png`" alt="" />
					</li>
				</ul>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	props: {
		right: {
			type: Boolean,
			default: false,
		},
		experience: Object,
	},
};
</script>