<template>
	<section class="section tools">
		<div class="container">
			<h2 class="title">Frameworks y Tecnologías</h2>
			<p class="text text-center">
				Estas son algunos de los frameworks, librerías, tecnologías y
				lenguajes que estoy utilizando actualmente:
			</p>
			<ul class="tools__list">
				<li
					v-for="item in tools.technologies"
					class="tools__list__item"
					:key="item.name"
				>
					<img
						class="tools__list__item__image"
						:src="`/images/icons/${item.image}`"
						:alt="item.name"
					/>
					<p class="tools__list__item__name">{{ item.name }}</p>
				</li>
			</ul>
			<p class="text text-center">Actualmente aprendiendo...</p>
			<ul class="tools__list">
				<li
					v-for="item in tools.learning"
					class="tools__list__item"
					:key="item.name"
					}
				>
					<img
						class="tools__list__item__image"
						:src="`/images/icons/${item.image}`"
						:alt="item.name"
					/>
					<p class="tools__list__item__name">{{ item.name }}</p>
				</li>
			</ul>
		</div>
	</section>
</template>
<script>

import TOOLS from '@/data/tools';

export default {
	data() {
		return {
			tools: TOOLS
		};
	},
};
</script>