<template>
	<section class="section work-experience">
		<div class="container">
			<h2 class="title">Experiencia Laboral</h2>
			<div class="timeline">
				<span class="timeline__line"></span>
				<TimelineItem
					v-for="(item, index) in experiences"
					:key="item.title"
					:experience="item"
					:right="(index + 1) % 2 == 0"
					@show-gallery="onShowGallery"
				></TimelineItem>
			</div>
		</div>
		<ModalWorkExperience
			:show="containers.showModal"
			:experience="containers.modalExperience"
			@close="onCloseModalGallery"
		></ModalWorkExperience>
	</section>
</template>
<script>

import WORK_EXPERIENCE from '@/data/workExperience';

export default {
	data() {
		return {
			experiences: WORK_EXPERIENCE,
			containers: {
				showModal: false,
				modalExperience: null,
			},
		};
	},
	methods: {
		onShowGallery(item) {
			this.containers.modalExperience = item;
			this.containers.showModal = true;
		},
		onCloseModalGallery () {
			this.containers.showModal = false;
			this.containers.modalExperience = null;
		}
	},
};
</script>

<style lang="scss" scoped>
</style>