<template>
	<div>
		<MyHeader></MyHeader>
		<HeaderDivider></HeaderDivider>
		<main>
			<AboutMe></AboutMe>
			<Tools></Tools>
			<WorkExperience></WorkExperience>
			<MyFooter></MyFooter>
		</main>
	</div>
</template>